streamlit
PyMuPDF
Pillow
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
requests
python-dotenv
huggingface-hub
uuid
llama-index-readers-file
torch 
torchvision 
torchaudio
numpy
scikit-learn
pytesseract
llama-index-multi-modal-llms-ollama